name: CI

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install

      - name: ESLint
        run: bun run lint

      - name: Type Check (save output)
        run: |
          bun run type-check > type-check.log
        continue-on-error: true

      - name: Upload Type Check Artifact
        uses: actions/upload-artifact@v4
        with:
          name: type-check-report
          path: type-check.log
